@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  /* =====================
     Primary
  ===================== */
  --red-500: hsl(356, 100%, 66%);
  --red-400: hsl(355, 100%, 74%);
  --blue-900: hsl(208, 49%, 24%);

  /* =====================
     Neutral
  ===================== */
  --white: hsl(0, 100%, 100%);
  --gray-600: hsl(207, 13%, 34%);
  --gray-900: hsl(240, 10%, 16%);

  /* =====================
     Gradients
  ===================== */
  /* Intro / CTA / Mobile Nav */
  --gradient-intro: linear-gradient(
    to right,
    #ff8f70,
    #ff3d54
  );

  /* Body */
  --gradient-body: linear-gradient(
    to right,
    hsl(237, 17%, 21%),
    hsl(237, 23%, 31%)
  );
}

@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
